.tool-header
  .container
    .tool-header__breadcrumb
      a(href='/') Domů
      if categoryName
        span.tool-header__sep /
        a(href=categoryPath)= categoryName
      if toolName
        span.tool-header__sep /
        a(href=toolPath)= toolName
    h1.tool-header__title= title
    if toolDescription
      p.tool-header__description= toolDescription
