{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "plugins": ["@prettier/plugin-pug"],
  "pugSingleQuote": false,
  "pugAttributeSeparator": "none"
}
